.todo-wrapper {
    display: flex;
    flex-direction: column;
}

.todo-form {
    display: flex;
} 

.todo-input {
    width: 350px;
    height: 28px;
    border-radius: 5px;
}

.todo-button {
    height: 35px;
    margin-left: 8px;
    background: rgb(100, 100, 206);
    border-radius: 5px;
}