.todo-item {
    display: flex;
    align-items: center;
    border: 1px solid red;
    background: red;
    margin-top: 10px;
    border-radius: 5px;
}

.todo-item-checked {
    display: flex;
    align-items: center;
    border: 1px solid rebeccapurple;
    background: rebeccapurple;
    color: white;
    margin-top: 10px;
    border-radius: 5px;
}

.todo-text {
    margin-left: 5px;
}